        * { 
                margin: 0; 
                padding: 0; 
        }

        body { 
                font: 16px Helvetica;  
                line-height: 24px; 
                background: #e0ffff; 
        }

        .clear { 
                clear: both; 
        }

        #page-wrap { 
                width: 800px; 
                margin: 40px auto 60px; 
        }

        #pic { 
                float: right; 
                margin: -20px 20px 0 0; 
        }

        h1 { 
<<<<<<< HEAD
                border-bottom-style: solid; 
                border-bottom-color: black;
=======
>>>>>>> 78ef251d0d7a3b11731af4660ea56bc9e048cd81
                margin: 0 0 16px 0; 
                padding: 0 0 16px 0; 
                font-size: 42px; 
                font-weight: bold; 
                letter-spacing: -2px; 
<<<<<<< HEAD
                /*border-bottom: 1px solid #999;*/
                
=======
                border-bottom: 1px solid #999; 
>>>>>>> 78ef251d0d7a3b11731af4660ea56bc9e048cd81
        }

        h2 { 
                font-size: 20px; 
                margin: 0 0 6px 0; 
                position: relative; 
        }

       
        p { 
                margin: 0 0 16px 0; 
        }

        a { 
                color: #999; 
                text-decoration: none; 
                border-bottom: 1px dotted #999; 
        }

        a:hover { 
                border-bottom-style: solid; 
                border-bottom-color: red;
                color: red; 
        }

        ul { 
                margin: 0 0 32px 17px; 
        }

        #quote { 
                width: 500px; 
                float: left; 
        }

        #quote p { 
                font-family: Georgia; 
                font-style: italic; 
                color: #666; 
        }

        dt { font-style: italic; 
                font-weight: bold; 
                font-size: 18px; 
                text-align: right; 
                padding: 0 26px 0 0; 
                width: 150px; 
                float: left; 
                height: 100px; 
                border-right: 1px solid #999;  
        }

        dd { 
                width: 600px; 
                float: right; 
        }

        dd.clear { 
                float: none; 
                margin: 0; 
                height: 15px; 
        }